.nav {
    display: grid;
    grid-area: n;
    grid-template-rows: 250px 150px;
    grid-gap: 15px;
}

.navContent {
    padding: 20px;
    background-color: aqua;
}

.navFriends {
    padding: 20px;
    background-color: aqua;
}

.item a {
    color: #296161;
    text-decoration: none;
}

.item a.activeLink {
    color: #ce1a6e;
    font-weight: bold;
}

.friends img {
    width: 50px;
    border-radius: 25px;
    padding: 2px;
}