.nav {
    grid-area: n;
    background-color: aqua;
    padding: 20px;
}

.item a {
    color: #296161;
    text-decoration: none;
}

.item a.activeLink {
    color: #ce1a6e;
    font-weight: bold;
}