.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 15px;
}

.dialogsItem {
    padding: 25px;
    background-color: aquamarine;
}

.messages {
    padding: 15px;
    background-color: aquamarine;
}